.root {
  position: relative;
  width: 390px;
  height: 2274px;
  align-items: flex-start;
}
.mainPage {
  position: absolute;
  left: 0;
  top: 2px;
  width: 390px;
  height: 2272px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.promotion {
  position: absolute;
  left: 0;
  top: 84px;
  width: 390px;
  height: 771px;
  align-items: flex-start;
}
.rectangle5 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 771px;
  background-color: #fff;
}
.rectangle7 {
  position: absolute;
  left: 33px;
  top: 152px;
  width: 324px;
  height: 246px;
  border-radius: 36px;
  background-color: #2c2929;
}
.rectangle6 {
  position: absolute;
  left: 33px;
  top: 67px;
  width: 324px;
  height: 272px;
  border-radius: 37px;
  background-color: #f7b148;
}
.nike_Air_Jordan_1_Mid_Omega_Bl {
  transform-origin: top left;
  position: absolute;
  left: 45px;
  top: 89.3227px;
  width: 295.5219px;
  height: 204.227px;
  background-image:/* webpackIgnore: true */ url('assets/nike_Air_Jordan_1_Mid_Omega_Bl.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -10px 12px 4px 0px #00000040;
  transform: matrix(0.9995, -0.0315, 0.0315, 0.9995, 0, 0);
}
.airJordanSeries {
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 143px;
  top: 87px;
  width: min-content;
  height: min-content;
  text-shadow: 0px 6px 4px #00000040;
  white-space: nowrap;
  flex-direction: column;
}
.iDR159900 {
  color: #000;
  font-size: 18px;
  font-weight: 800;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 135px;
  top: 303px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.materialSymbolsShoppingCartRou {
  position: absolute;
  left: 59px;
  top: 300px;
  width: 24px;
  height: 24px;
}
.icon {
  width: 100%;
  height: 100%;
}
.iconParkSolidLike {
  position: absolute;
  left: 310px;
  top: 301px;
  width: 22px;
  height: 22px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.tersediaDalamWarna {
  color: #fff;
  font-size: 9px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 146px;
  top: 349px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ellipse1 {
  position: absolute;
  left: 187px;
  top: 366px;
  width: 18px;
  height: 18px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.ellipse4 {
  position: absolute;
  left: 14px;
  top: 222px;
  width: 38px;
  height: 38px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.ellipse5 {
  position: absolute;
  left: 338px;
  top: 222px;
  width: 38px;
  height: 38px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.ellipse3 {
  position: absolute;
  left: 215px;
  top: 366px;
  width: 18px;
  height: 18px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.ellipse2 {
  position: absolute;
  left: 159px;
  top: 366px;
  width: 18px;
  height: 18px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.unnamed {
  color: #00000059;
  font-size: 27px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 23px;
  top: 220px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed2 {
  color: #00000059;
  font-size: 27px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 350px;
  top: 222px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pENAWARANTERBAIK {
  color: #000;
  font-size: 23px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39px;
  top: 21px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.bRANDTERNAMA {
  color: #000;
  font-size: 23px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39px;
  top: 482px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle8 {
  position: absolute;
  left: 58px;
  top: 533px;
  width: 137px;
  height: 41px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  border-radius: 11px 0 0;
  background-color: #f7b148;
}
.rectangle10 {
  position: absolute;
  left: 58px;
  top: 573px;
  width: 137px;
  height: 41px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  background-color: #f7b148;
}
.rectangle12 {
  position: absolute;
  left: 58px;
  top: 613px;
  width: 137px;
  height: 41px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  background-color: #f7b148;
}
.rectangle14 {
  position: absolute;
  left: 58px;
  top: 653px;
  width: 137px;
  height: 41px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  background-color: #f7b148;
}
.rectangle16 {
  position: absolute;
  left: 58px;
  top: 693px;
  width: 137px;
  height: 41px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  border-radius: 0 0 0 11px;
  background-color: #f7b148;
}
.rectangle17 {
  position: absolute;
  left: 194px;
  top: 693px;
  width: 137px;
  height: 41px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  border-radius: 0 0 11px;
  background-color: #f7b148;
}
.rectangle15 {
  position: absolute;
  left: 194px;
  top: 653px;
  width: 137px;
  height: 41px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  background-color: #f7b148;
}
.rectangle13 {
  position: absolute;
  left: 194px;
  top: 613px;
  width: 137px;
  height: 41px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  background-color: #f7b148;
}
.rectangle11 {
  position: absolute;
  left: 194px;
  top: 573px;
  width: 137px;
  height: 41px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  background-color: #f7b148;
}
.rectangle9 {
  position: absolute;
  left: 194px;
  top: 533px;
  width: 137px;
  height: 41px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  border-radius: 0 11px 0 0;
  background-color: #f7b148;
}
.nike_decide_deixar_de_vender_s {
  position: absolute;
  left: 70px;
  top: 532px;
  width: 45px;
  height: 45px;
  background-image:/* webpackIgnore: true */ url('assets/nike_decide_deixar_de_vender_s.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nIKE {
  color: #000;
  font-size: 10px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 116px;
  top: 546px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.aDIDAS {
  color: #000;
  font-size: 8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 116px;
  top: 588px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vANS {
  color: #000;
  font-size: 8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 116px;
  top: 629px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.aEROSTREET {
  color: #000;
  font-size: 8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 115px;
  top: 669px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fILA {
  color: #000;
  font-size: 8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 115px;
  top: 709px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.cONVERSE {
  color: #000;
  font-size: 8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 248px;
  top: 588px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rEEBOK {
  color: #000;
  font-size: 8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 250px;
  top: 629px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pUMA {
  color: #000;
  font-size: 8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 251px;
  top: 669px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.uNDERARMOUR {
  position: absolute;
  left: 251px;
  top: 703px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.nEWBALANCE {
  position: absolute;
  left: 248px;
  top: 544px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock3 {
  color: #000;
  font-size: 8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #000;
  font-size: 8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.adidas_Logo_PNG_Vector__EPS__F {
  position: absolute;
  left: 70px;
  top: 574px;
  width: 39px;
  height: 42px;
  background-image:/* webpackIgnore: true */ url('assets/adidas_Logo_PNG_Vector__EPS__F.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._510b8fca37804857B189940be8495a {
  position: absolute;
  left: 191px;
  top: 575px;
  width: 57px;
  height: 38px;
  background-image:/* webpackIgnore: true */ url('assets/_510b8fca37804857B189940be8495a.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.newsRemovebgPreview1 {
  position: absolute;
  left: 73px;
  top: 617px;
  width: 35px;
  height: 35px;
  background-image:/* webpackIgnore: true */ url('assets/newsRemovebgPreview1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reebok_Logo_Black_PNG_Download {
  position: absolute;
  left: 206px;
  top: 617px;
  width: 33px;
  height: 33px;
  background-image:/* webpackIgnore: true */ url('assets/reebok_Logo_Black_PNG_Download.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._6673471_0190c916C3b349c89cb43d {
  position: absolute;
  left: 71px;
  top: 656px;
  width: 36px;
  height: 36px;
  background-image:/* webpackIgnore: true */ url('assets/_6673471_0190c916C3b349c89cb43d.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vecteezy_pumaLogoWhiteSymbolCl {
  position: absolute;
  left: 203px;
  top: 659px;
  width: 37px;
  height: 30px;
  background-image:/* webpackIgnore: true */ url('assets/vecteezy_pumaLogoWhiteSymbolCl.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.group {
  position: absolute;
  left: 73px;
  top: 708.238px;
  width: 35px;
  height: 10.9682px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
._5842f037a6515b1e0ad75b121 {
  position: absolute;
  left: 204px;
  top: 702px;
  width: 38px;
  height: 23px;
  background-image:/* webpackIgnore: true */ url('assets/_5842f037a6515b1e0ad75b121.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.new_Balance_Logo_and_symbol__m {
  position: absolute;
  left: 206px;
  top: 543px;
  width: 32px;
  height: 18px;
  background-image:/* webpackIgnore: true */ url('assets/new_Balance_Logo_and_symbol__m.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.man {
  position: absolute;
  left: 0;
  top: 771px;
  width: 390px;
  height: 635px;
  align-items: flex-start;
}
.rectangle52 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 635px;
  background-color: #fff;
}
.sEPATUPRIA {
  color: #000;
  font-size: 23px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39px;
  top: 49px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle18 {
  position: absolute;
  left: 20.0793px;
  top: 101px;
  width: 160.9206px;
  height: 222px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle20 {
  position: absolute;
  left: 30.6508px;
  top: 109.2222px;
  width: 137.4286px;
  height: 137.4286px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle20.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.airJordan1MidLightGrey {
  position: absolute;
  left: 55.3174px;
  top: 252.5238px;
  width: 90.4444px;
  height: 28.1905px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock5 {
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.iDR170000 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 52px;
  top: 290px;
  width: 98px;
  height: 14px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle182 {
  position: absolute;
  left: 202px;
  top: 101px;
  width: 160.9206px;
  height: 222px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle202 {
  position: absolute;
  left: 212.5714px;
  top: 109.2222px;
  width: 137.4286px;
  height: 137.4286px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle202.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pumaSmashV1WhiteYoung {
  position: absolute;
  left: 237.2381px;
  top: 252.5238px;
  width: 90.4444px;
  height: 28.1905px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock7 {
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.iDR249900 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 233px;
  top: 290px;
  width: 98px;
  height: 14px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle183 {
  position: absolute;
  left: 20px;
  top: 340px;
  width: 160.9206px;
  height: 222px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle203 {
  position: absolute;
  left: 30.5714px;
  top: 348.2222px;
  width: 137.4286px;
  height: 137.4286px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle203.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.underArmourTribaseBlack {
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 55.2381px;
  top: 491.5238px;
  width: 90.4444px;
  height: 28.1905px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.iDR239900 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 51px;
  top: 529px;
  width: 98px;
  height: 14px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle184 {
  position: absolute;
  left: 202px;
  top: 340px;
  width: 160.9206px;
  height: 222px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle204 {
  position: absolute;
  left: 212.5714px;
  top: 348.2222px;
  width: 137.4286px;
  height: 137.4286px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle204.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.newBalanceNumeric440 {
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 237.2381px;
  top: 491.5238px;
  width: 90.4444px;
  height: 28.1905px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.iDR20000 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 233px;
  top: 529px;
  width: 98px;
  height: 14px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.tampilkanLebihBanyak {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 128px;
  top: 588px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.woman {
  position: absolute;
  left: -1px;
  top: 1490px;
  width: 390px;
  height: 635px;
  align-items: flex-start;
}
.rectangle53 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 635px;
  background-color: #fff;
}
.sEPATUWANITA {
  color: #000;
  font-size: 23px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 53px;
  top: 51px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle185 {
  position: absolute;
  left: 20px;
  top: 101px;
  width: 160.9206px;
  height: 222px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle205 {
  position: absolute;
  left: 30.5714px;
  top: 109.2222px;
  width: 137.4286px;
  height: 137.4286px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle205.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.zhuishuuUpperCasualSports {
  position: absolute;
  left: 55.2381px;
  top: 252.5238px;
  width: 90.4444px;
  height: 28.1905px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock9 {
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.iDR2399002 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 51px;
  top: 290px;
  width: 98px;
  height: 14px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle186 {
  position: absolute;
  left: 19px;
  top: 344px;
  width: 160.9206px;
  height: 222px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle206 {
  position: absolute;
  left: 29.5714px;
  top: 352.2222px;
  width: 137.4286px;
  height: 137.4286px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle206.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gLSRUpperSolidWhite {
  position: absolute;
  left: 54.2381px;
  top: 495.5238px;
  width: 90.4444px;
  height: 28.1905px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock11 {
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  margin-top: 0;
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.iDR2399003 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50px;
  top: 533px;
  width: 98px;
  height: 14px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle187 {
  position: absolute;
  left: 202px;
  top: 344px;
  width: 160.9206px;
  height: 222px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle207 {
  position: absolute;
  left: 212.5714px;
  top: 352.2222px;
  width: 137.4286px;
  height: 137.4286px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle207.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.adidasBBallClassicSneakers {
  position: absolute;
  left: 237.2381px;
  top: 495.5238px;
  width: 90.4444px;
  height: 28.1905px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock13 {
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock14 {
  margin-top: 0;
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.iDR2399004 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 233px;
  top: 533px;
  width: 98px;
  height: 14px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle188 {
  position: absolute;
  left: 202px;
  top: 101px;
  width: 160.9206px;
  height: 222px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle208 {
  position: absolute;
  left: 212.5714px;
  top: 109.2222px;
  width: 137.4286px;
  height: 137.4286px;
  border-radius: 12px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle208.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.xiaobaiShoesPurpleWhite {
  position: absolute;
  left: 237.2381px;
  top: 252.5238px;
  width: 90.4444px;
  height: 28.1905px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock15 {
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock16 {
  margin-top: 0;
  color: #000;
  font-size: 10px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.iDR2399005 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 233px;
  top: 290px;
  width: 98px;
  height: 14px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.tampilkanLebihBanyak2 {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 128px;
  top: 588px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.footer {
  position: absolute;
  left: 0;
  top: 2125px;
  width: 390px;
  height: 147px;
  align-items: flex-start;
}
.footer2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 147px;
  align-items: flex-start;
}
.rectangle54 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 147px;
  background-color: #303030;
}
.rennShoes {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43px;
  top: 15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tentangPerusahaanKatalogLayana {
  position: absolute;
  left: 43px;
  top: 70px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock17 {
  color: #fff;
  font-size: 8px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock18 {
  margin-top: 7px;
  color: #fff;
  font-size: 8px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock19 {
  margin-top: 7px;
  color: #fff;
  font-size: 8px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock20 {
  margin-top: 7px;
  color: #fff;
  font-size: 8px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.jalanSkardaNLr2Indonesia {
  color: #fff;
  font-size: 8px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43px;
  top: 34px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sosialMedia {
  color: #fff;
  font-size: 8px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 301px;
  top: 15px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 73.3333%;
  right: 22.8205%;
  top: 20.4082%;
  bottom: 69.3878%;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 79.4872%;
  right: 16.6667%;
  top: 21.7687%;
  bottom: 69.9393%;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.vector3 {
  position: absolute;
  left: 85.641%;
  right: 10.5128%;
  top: 21.7687%;
  bottom: 70.068%;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.rectangle21 {
  position: absolute;
  left: 265px;
  top: 75px;
  width: 84px;
  height: 22px;
  border-radius: 5px;
  background-color: #d9d9d9;
}
.dapatkanDi {
  color: #000;
  font-size: 6px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 290px;
  top: 77px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector4 {
  position: absolute;
  left: 70%;
  right: 26.4103%;
  top: 53.0612%;
  bottom: 36.7347%;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.pLAYSTORE {
  color: #000;
  font-size: 8px;
  font-weight: 800;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 290px;
  top: 84px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle212 {
  position: absolute;
  left: 265px;
  top: 104px;
  width: 84px;
  height: 22px;
  border-radius: 5px;
  background-color: #d9d9d9;
}
.dapatkanDi2 {
  color: #000;
  font-size: 6px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 290px;
  top: 106px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.aPPSTORE {
  color: #000;
  font-size: 8px;
  font-weight: 800;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 290px;
  top: 113px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector5 {
  position: absolute;
  left: 69.4872%;
  right: 27.1795%;
  top: 74.1497%;
  bottom: 18.3673%;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 84px;
  align-items: flex-start;
}
.rectangle55 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 84px;
  background-color: #fff;
}
.riMenu2Fill {
  position: absolute;
  left: 25px;
  top: 27px;
  width: 30px;
  height: 30px;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.rennShoes2 {
  color: #525252;
  font-size: 19px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 140px;
  top: 31px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ellipse6 {
  position: absolute;
  left: 335px;
  top: 27px;
  width: 30px;
  height: 30px;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
